/* 美化全局滚动条 */
*::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
    background: #ccc; /* 滑块颜色 */
    border-radius: 0.3rem; /* 滑块圆角 */
}

/* 兼容Firefox、IE */
* {
    scrollbar-width: 10px;
    scrollbar-base-color: green;
    scrollbar-track-color: red;
    scrollbar-arrow-color: blue;
}